<% provide :header_left, link_to('Atrás', ronda_path(@visita_diaria.ronda)) %>
<% provide :header_title, "Ver Visita Diaria"%>
<% provide :header_right, link_to('Editar', edit_ronda_visita_diaria_path(@visita_diaria.ronda, @visita_diaria)) %>
<ul data-role="listview" data-inset="true" >
	<li>
	  <b>Juzgado:</b>
	  <%= @visita_diaria.juzgado.nombre_completo %>
	</li>
	
	<li>
	  <b>N estados:</b>
	  <%= @visita_diaria.n_estados %>
	</li>
	
	<li>
	  <b>N edictos:</b>
	  <%= @visita_diaria.n_edictos %>
	</li>
	
	<li>
	  <b>N traslados:</b>
	  <%= @visita_diaria.n_traslados %>
	</li>
	
	<% if @visita_diaria.nada %>
		<li data-theme="b">
		  <b>Nada:</b> NO SALIÓ NADA HOY
		  	
	<% else %>
		<li>
	  		<b>Nada:</b>
		  	<%= @visita_diaria.nada %>
		  	
		  
	<% end %>
		</li>
	<li>
		<b>Notas:</b>
		<%= @visita_diaria.notas %>
	</li>
	<li>
	  <b>Fecha:</b>
	  <%= @visita_diaria.fecha %>
	</li>
</ul>

