<%= form_for([@ronda, @visita_diaria]) do |f| %>
  <% if @visita_diaria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visita_diaria.errors.count, "error") %> evitó que la visita se guardara:</h2>

      <ul>
      <% @visita_diaria.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :juzgado_id, class: :select %>
    <%= grouped_collection_select(:visita_diaria,:juzgado_id, Ciudad.all, :juzgados, :nombre, :id, :nombre_completo) %>
  </div>
  <div data-role="fieldcontain" >
    <%= f.label :n_estados, "Estados" %><br />
    <% tope_estados = @visita_diaria.n_estados > 5 ? @visita_diaria.n_estados : 5 %>
    <%= f.range_field :n_estados, in: 0..tope_estados %>
    <%= button_to_function "+", "var max = $('#visita_diaria_n_estados').attr('max');$('#visita_diaria_n_estados').attr('max', max * 2);$('#visita_diaria_n_estados').slider('refresh')", "data-inline" => :true, "data-icon" => :plus, "data-iconpos" => :notext %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :n_edictos, "Edictos" %><br />
    <% tope_edictos = @visita_diaria.n_edictos > 5 ? @visita_diaria.n_edictos : 5 %>
    <%= f.range_field :n_edictos, in: 0..tope_edictos %>
    <%= button_to_function "+", "var max = $('#visita_diaria_n_edictos').attr('max');$('#visita_diaria_n_edictos').attr('max', max * 2);$('#visita_diaria_n_edictos').slider('refresh')", "data-inline" => :true, "data-icon" => :plus, "data-iconpos" => :notext %>

  </div>
  <div data-role="fieldcontain">
    <%= f.label :n_traslados, "Traslados" %><br />
    <% tope_traslados = @visita_diaria.n_traslados > 5 ? @visita_diaria.n_traslados : 5 %>
    <%= f.range_field :n_traslados, in: 0..tope_traslados %>
    <%= button_to_function "+", "var max = $('#visita_diaria_n_traslados').attr('max');$('#visita_diaria_n_traslados').attr('max', max * 2);$('#visita_diaria_n_traslados').slider('refresh')", "data-inline" => :true, "data-icon" => :plus, "data-iconpos" => :notext %>

  </div>
  <div data-role="fieldcontain">
  	<fieldset data-role="controlgroup">
    	<%= f.check_box :nada %>
    	<%= f.label :nada %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" class="ui-hide-label">
    <%= f.label :notas %><br />
    <%= f.text_area :notas, placeholder: "Notas" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
  <div data-role="fieldcontain" >
  	<fieldset data-role="controlgroup" data-type="horizontal">
    	<legend >Fecha</legend>
    	<%= f.date_select :fecha %>
    </fieldset>
  </div>
<% end %>
