<%= form_for([@ronda, @visita_diaria]) do |f| %>
  <% if @visita_diaria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visita_diaria.errors.count, "error") %> evitó que la visita se guardara:</h2>

      <ul>
      <% @visita_diaria.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :juzgado_id, class: :select %>
    <%= grouped_collection_select(:visita_diaria,:juzgado_id, Ciudad.all, :juzgados, :nombre, :id, :nombre_completo) %>
  </div>
  <div data-role="fieldcontain" >
    <%= f.label :n_estados, "Estados" %><br />
    <%= f.range_field :n_estados, in: 0..50 %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :n_edictos, "Edictos" %><br />
    <%= f.range_field :n_edictos, in: 0..50 %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :n_traslados, "Traslados" %><br />
    <%= f.range_field :n_traslados, in: 0..50 %>
  </div>
  <div data-role="fieldcontain">
  	<fieldset data-role="controlgroup">
    	<%= f.check_box :nada %>
    	<%= f.label :nada %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" >
  	<fieldset data-role="controlgroup" data-type="horizontal">
    	<legend >Fecha</legend>
    	<%= f.date_select :fecha %>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
