<% provide :header_tile, "¿Olvidaste tu contraseña?" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div data-role="fieldcontain" class="ui-hide-label">
  	<%= f.label :email %><br />
  	<%= f.email_field :email, autofocus: true, placeholder: "Escribe aquí tu email" %>
  </div>

  <div><%= f.submit "Enviarme instrucciones de recuperación" %></div>
<% end %>

