<%= form_for(@juzgado) do |f| %>
  <% if @juzgado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@juzgado.errors.count, "error") %> no permitió que este juzgado fuera guardado:</h2>

      <ul>
      <% @juzgado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :direccion, "Dirección" %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
  	<%= f.label :ciudad %>
 	<%= collection_select(:juzgado, :ciudad_id, Ciudad.all, :id, :nombre) %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar"  %>
  </div>
<% end %>
