<p>
  <b>Fecha:</b>
  <%= @ronda.fecha %>
</p>

<p>
  <b>Usuario:</b>
  <%= @ronda.usuario.email %>
</p>
<hr />
<h3>Visitas</h3>
<% @ronda.visita_diarias.each do |v| %>
	<%= v.juzgado.nombre %><br />
<% end %>

<%= link_to 'Nueva Visita', new_ronda_visita_diaria_path(@ronda) %>

<%= link_to 'Editar', edit_ronda_path(@ronda) %> |
<%= link_to 'Regresar', rondas_path %>
