<% provide :header_title, "Iniciar Sesión"%>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div data-role="fieldcontain" class="ui-hide-label">
  	<%= f.label :email %><br />
  	<%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div data-role="fieldcontain" class="ui-hide-label">
  	<%= f.label :password %><br />
  	<%= f.password_field :password, placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Recordarme" %></div>
  <% end -%>

  <div><%= f.submit "Iniciar Sesión" %></div>
<% end %>

<%= render "devise/shared/links" %>
